

<toaster-container toaster-options="{'time-out': 3000, 'close-button':true,'animation-class': 'toast-top-center'}"></toaster-container>
<div ng-controller="sharedWLCtrl" ng-init="load()">


<div class="row">

<h3 class="text-center">WishList</h3><br>

<br>
<br>
<br>
<br>


<br>

<hr>
<br>
<div vertilize-container class="row">
<div  ng-repeat="items in wishes" >
<div class="col-lg-3 col-md-4 col-xs-6 ">
<div ng-hide="showthumb">

<div class="well">

<div vertilize>

<div class="thumbnail">
<a class="" href="{{items.url}}">
<img  class="img-responsive" ng-src="{{items.thumb}}" ng-class="{'selected':$index == selectedIndex}" ng-click="toggle();setUrl(items.thumb);imgClicked($index)" >
</a>
</div>

<div class="caption">
<div>
<b class="ctxt">Title:</b>{{items.title}}<br><br>
<b>Description:</b>{{items.descrp}}<br><br>

</div>
</div>
</div>

       </div>
     </div>


	</div>
	


</div>
</div>
</div>
</div>
</div>
 </div>

</div>
