

<toaster-container toaster-options="{'time-out': 3000, 'close-button':true,'animation-class': 'toast-top-center'}"></toaster-container>
<div ng-controller="userWLCtrl" ng-init="load()">

<a class="btn btn-default pull-left plb" href="" ng-click="logout()">Logout</a><a class="btn btn-default pull-right plb"ui-sref="search" "#/api/user/wishlist/search" >Search</a><br><br>
<div class="row">
<pre>Welcome {{username}}.</pre>
<h3 class="text-center">My WishList</h3><br>
<div class="inline"><a href="" class="sIcon pull-right "><img class="img-responsive" ng-src="../static/img/test.png" ng-click="share();setShUrl('',' ',' ',0)"></a></div>
<br>
<br>
<br>
<br>


<br>

<hr>
<br>
<div  ng-repeat="items in wishes">
<div class="col-lg-3 col-md-4 col-xs-6 ">
<div ng-hide="showthumb">
<div class="table-bordered ">
<a class="delimg" href=""><img ng-src="../static/img/images.png" ng-click="showthumb =! showthumb;remove(items.thumb)"></a>
<a class="thumbnail thumbimg" href="{{items.url}}">
<img  class="img-responsive" ng-src="{{items.thumb}}" ng-class="{'selected':$index == selectedIndex}" ng-click="toggle();setUrl(items.thumb);imgClicked($index)" >
</a>

<div class="caption">
<div>
<b class="ctxt">Title:</b>{{items.title}}<br>
<b>Description:</b>{{items.descrp}}<br>
<uib-rating ng-model="rate" on-hover="hoveringOver(value)" on-leave="overStar = null"  aria-labelledby="default-rating" ng-class="{'selected':$index == selectedIndex}"></uib-rating>
<div class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%....{{lv}}</div> 
<div class="inline">
<a href=""><img class="img-responsive" ng-src="../static/img/shareicon.png" ng-click="isCollapsed = !isCollapsed;shareModal();setShUrl(items.title,items.descrp,items.url,1)"></a>
<!--a class="delimg" href=""><img ng-src="../static/img/images.png"></a--></div>
</div>
</div>
<!--div uib-collapse="isCollapsed">
		<div class=" "><a ng-click="share()">Email</a></div>
		<a href="" class="btn btn-medium center-content"
socialshare
socialshare-provider="twitter"
socialshare-text="720kb AngularJS Socialshare"
socialshare-hashtags="angularjs, angular-socialshare"
socialshare-url="http://720kb.net">
<i class="fa fa-twitter"></i>Twitter
</a>
<span class="share-service-icon share-service-icon-twitter yt-sprite"></span>
<!--div class="separator10 mobile tablet"></div>
      <div class="col2 line-tablet">
        <div class="line-compress">
        
          <a class="btn btn-medium center-content color-black radius3 bg-white" socialshare socialshare-provider="google" socialshare-url="http://720kb.net">
           <i class="fa fa-google-plus"></i>  Google +
         </a>
         <span class="share-service-icon share-service-icon-googleplus yt-sprite"></span-->
       
       </div>
     </div>


	</div>
	


</div>
</div>
</div>
</div>
</div>
 </div>

</div>
